.app {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  font-size: 1.3rem;
}

.app-hero {
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
  border: 1px solid var(--white);
  padding: 2rem;
  margin: 2rem;
  color: var(--white);
}

#links {
  margin-top: 3rem;
}
#links a {
  color: var(--yellow);
  margin-right: 2rem;
  border: 1px solid var(--white);
  padding: 0.7rem 1.2rem;
  text-decoration: none;
}

#links a:hover {
  background-color: var(--black-dark);
}
