.feed {
  display: grid;
}
.username {
  height: 15vh;
  margin: 3rem;
  border: 1px solid var(--white);
  color: white;
  text-align: center;
  padding-top: 2.5rem;
}
.usergraph {
  display: flex;
  justify-content: center;
}

.change {
  text-align: center;
  margin: 2rem;
}
.change button {
  background: transparent;
  color: var(--yellow);

  border: none;
  outline: none;
  padding: 0.8rem;
  width: 10rem;
  height: 4rem;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
  font-size: 1.5rem;
}
.change button:hover {
  cursor: pointer;
}
