.form-container {
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  margin-bottom: 3rem;
}
.form h2 {
  font-size: 2rem;
}
.form input {
  height: 8vh;
  font-size: 1.1rem;
  text-align: center;
  margin: 0.7rem;
  outline: none;
  width: 80%;
  border: none;
}
.form button {
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  align-self: center;
  transition: all 0.4s;
}
.form button:hover {
  cursor: pointer;
}
#regform input::placeholder {
  color: hsl(0, 12%, 84%);
}
#regform input {
  color: #c05050;
  font-weight: 600;
}
#regform input:focus {
  border-bottom: 3px solid #c05050;
}
#regform h2 {
  color: #c05050;
}
#regbut {
  background-color: rgb(247, 192, 192);
}
#regbut:hover {
  transition: all 0.4s;
  background-color: rgb(255, 164, 164);
}
#regcon {
  background-color: #c05050;
}

#logform input::placeholder {
  color: hsl(0, 14%, 77%);
}
#logform input {
  color: rgb(255, 146, 44);
  font-weight: 600;
}
#logform input:focus {
  border-bottom: 3px solid rgb(255, 146, 44);
}
#logform h2 {
  color: rgb(255, 146, 44);
}
#logbut {
  background-color: rgb(255, 146, 44);
}
#logbut:hover {
  transition: all 0.4s;
  background-color: rgb(255, 174, 82);
}

#logcon {
  background-color: rgb(197, 117, 41);
}

.formcontainer-info {
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
  color: white;
}

.message {
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
}
