@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --black: #2d2a32;
  --black-dark: rgba(34, 34, 34, 0.74);
  --yellow-dark: #ddd92a;
  --yellow: #eae151;
  --yellow-light: #eeefa8;
  --white: #fafdf6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--black);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid var(--white);
}

.nav a {
  text-decoration: none;
}

#name {
  color: var(--yellow);
  display: flex;
}

.nav-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-nav a {
  margin-right: 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--white);
}
