

.form-container{
  min-height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-color: rgb(245, 245, 245);

}
.form h2{
  font-size: 2rem;
}
.form input{
  height: 8vh;
  font-size: 1.1rem;
  text-align: center;
  margin: .7rem;
  border-radius: 10px;
  outline: none;
  transition: all .4s;
  width: 80%;
  border: none;
}
.form button{
  background: transparent;
  margin-top: .7rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  align-self: center;
  transition: all .4s;

}
.form button:hover{
  cursor: pointer;
}
#regform input::placeholder{
  color: hsl(0, 12%, 84%);
}
#regform input{
  color: #C05050;
  font-weight: 600;
}
#regform h2{
  color: #C05050;
}
#regbut{
  background-color: rgb(247, 192, 192);
}
#regbut:hover{
  transition: all .4s;
  background-color: rgb(255, 164, 164);
}
#regcon{
  background-color: #C05050;
}

#logform input::placeholder{
  color: hsl(0, 14%, 77%);
}
#logform input{
  color: #352368;
  font-weight: 600;
}
#logform h2{
  color: #352368;
}
#logbut{
  background-color: rgb(192, 193, 247);
}
#logbut:hover{
  transition: all .4s;
  background-color: rgb(178, 164, 255);
}

#logcon{
  background-color: #352368;
}